# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django stuff
*.log
db.sqlite3
media/

# Environment variables
.env
.env.*

# IDE and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (if using npm for some scripts)
node_modules/
