Django>=4.2
django-phonenumber-field[phonenumberslite]>=7.1.0
Pillow>=10.0.0 
phonenumbers>=8.12.0

djangorestframework
django-cors-headers
dj-rest-auth 
django-allauth
djangorestframework-simplejwt
requests
cryptography
google-auth