/* src/index.css */

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Syne:wght@400;700;800&display=swap'); */

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: 'Modernoir';
  src: url('./fonts/TT_Modernoir_Trial_Light.ttf') format('truetype');
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

/* --- Define each weight for the TT Modernoir static font --- */
@font-face {
  font-family: 'TT Modernoir';
  src: url('./fonts/TT_Modernoir_Trial_Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
}
@font-face {
  font-family: 'TT Modernoir';
  src: url('./fonts/TT_Modernoir_Trial_Light.ttf') format('truetype');
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: 'TT Modernoir';
  src: url('./fonts/TT_Modernoir_Trial_Light.ttf') format('truetype');
  font-weight: 600; /* DemiBold */
}
@font-face {
  font-family: 'TT Modernoir';
  src: url('./fonts/TT_Modernoir_Trial_Light.ttf') format('truetype');
  font-weight: 700;/* Bold */
}



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-alch-cream;
}

/* ADD THIS RULE FOR THE SWIPER FIX */
.swiper-wrapper {
  /* This forcefully ensures all slides stretch to match the tallest one */
  align-items: stretch !important;
}

/* added to remove scrol bar in add mem form !! */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
